body {
    background-color: lightgray;
    margin: 0;
    font-family: sans-serif;
}
header {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
header nav {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
header nav a, button {
    transition: 1s;
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
    text-decoration: none;
}
section {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    padding: 40px 40px;
    border: 4px dashed red;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
form input {
    margin: 5px;
}
button {    
    height: 80px;
    width: 80px;
    border: 1px solid black;
    background-color: tomato;
    border-radius: 50%;
}

label {
    color: tomato;
    display: none;
}